img {
    max-width: 100%;
    height: auto;
    display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.material-icons {
    cursor: pointer;
}

// font-family
.openSans {
    font-family: 'Open Sans', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

//font-weight
.bold {
    font-weight: bold;
}

.extra-bold {
    font-weight: 800;
}

.md-extra-bold {
    @include md-width {
        font-weight: 800;
    }
}

.lg-extra-bold {
    @include lg-width {
        font-weight: 800;
    }
}



//font-size
.fz10 {
    font-size: 10px;
}

.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz18 {
    font-size: 18px;
}

.fz-md-14 {
    @include md-width {
        font-size: 14px;
    }
}

.fz-lg-14 {
    @include lg-width {
        font-size: 14px;
    }
}

.fz-md-3 {
    @include md-width {
        font-size: 3rem !important;
    }
}

.fz-lg-3 {
    @include lg-width {
        font-size: 3rem !important;
    }
}

.xl-h3 {
    @include xl-width {
        font-size: 2rem;
    }
}

.md-h4 {
    @include md-width {
        font-size: 1.5rem !important;
    }
}

.lg-h4 {
    @include lg-width {
        font-size: 1.5rem;
    }
}

.xl-h4 {
    @include xl-width {
        font-size: 1.5rem;
    }
}

.md-h5 {
    @include md-width {
        font-size: 1.25rem !important;
    }
}

.md-h6 {
    @include md-width {
        font-size: 1rem;
    }
}

.lg-h6 {
    @include lg-width {
        font-size: 1rem;
    }
}

.h7 {
    font-size: 0.8rem;
}

//line-height
.lh-3 {
    line-height: 1rem;
}

.lh-5 {
    line-height: 3rem;
}

.lh-md-6 {
    @include md-width {
        line-height: 4rem;
    }
}

//color
$mainColor:#000000DE;
$minorColor:#00000099;
$lighterMinor:#00000061;
$darkerWhite:#FFFFFF98;
$mainbg:#F1F0F8;

.mainColor {
    color: $mainColor;
}

.minorColor {
    color: $minorColor;
}

.lighterMinor {
    color: $lighterMinor;
}

.darkerWhite {
    color: $darkerWhite;
}


//width
.w-md-50 {
    @include md-width {
        width: 50% !important;
    }
}

.w-90 {
    width: 90% !important;
}

//bgckground

.mainBg {
    background: $mainbg;
}

.bg-lg-black {
    @include lg-width {
        background: $mainColor;
    }
}

//margin
.ml-xl-6 {
    @include xl-width {
        margin-left: 4rem;
    }
}

.mr-30 {
    margin-right: 30px;
}

.mr-60 {
    margin-right: 60px;
}

.mb-lg-72 {
    @include lg-width {
        margin-bottom: 72px;
    }
}

//padding
.pl-md-4 {
    @include md-width {
        padding-left: 1.5rem;
    }
}

.pr-md-4 {
    @include md-width {
        padding-right: 1.5rem;
    }
}

.p-0-onlyphone {
    padding-left: 0;
    padding-right: 0;

    @include sm-width {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.p-15-onlyphone {
    padding-left: 15px;
    padding-right: 15px;

    @include sm-width {
        padding-left: unset;
        padding-right: unset;
    }
}

//swiper
.swiper-container {
    width: 100%;
    overflow: visible;
}

.swiper-slide {
    width: unset !important;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

//collapse
.btn-link {

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.bg-linear-gradient {
    background: transparent linear-gradient(270deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

//others

.object-fit-cover {
    object-fit: cover;
}

.z-3 {
    position: relative;
    z-index: 3;
}

sup {
    top: -.6rem;
    font-size: 60%;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.border-right-white {
    border-right: 1px solid #fff;
}

.text-md-left {
    @include md-width {
        text-align: left;
    }
}